.main-topics 
    .row 
        .col-md-8 
            .card-section 
                //************* Start Head Title
                .card-head 
                    .head 
                        a(href="#") المواضيع الرئيسية
                //************* Start Categeory Liks
                .assets-category 
                    .category.text-center 
                        a(href="#") 
                            .assets-logo 
                                img(src="./images/assets-images/1.jpeg", alt="akida")
                            .assets-title  
                                p العقيدة
                    .category.text-center 
                        a(href="#") 
                            .assets-logo 
                                img(src="./images/assets-images/2.jpeg", alt="akida")
                            .assets-title  
                                p العبادات
                    .category.text-center 
                        a(href="#") 
                            .assets-logo 
                                img(src="./images/assets-images/3.jpg", alt="akida")
                            .assets-title  
                                p المناسبات
                    .category.text-center 
                        a(href="#") 
                            .assets-logo 
                                img(src="./images/assets-images/4.jpg", alt="akida")
                            .assets-title  
                                p القرآن الكريم
                    .category.text-center 
                        a(href="#") 
                            .assets-logo 
                                img(src="./images/assets-images/5.jpg", alt="akida")
                            .assets-title  
                                p السنة النبوية
                //************* Start Head Title
                .card-head 
                    .head 
                        a(href="#") مسارات التعلم 
                
                .actvie-links 
                    a(href="#")
                        .go
                            .media-flex-center 
                                .avatar 
                                    img(src="./images/avatar1.jpg", alt="avatar")
                            .titles-learnging 
                                p.title المعاملات المالية
                                p.caption الدين الإسلامي دين شاملٌ لجميع مجالات الحياة، فهو دين عبادةٍ ودين معاملة، والعباد يحتاجون ما...
                            .flex-end 
                                .avatar-stock 
                                    img(src="./images/avatar1.jpg", alt="")
                                    img(src="./images/avatar1.jpg", alt="")
                                    img(src="./images/avatar2.jpg", alt="")
                                .arrow  
                                    i.fa.fa-arrow-circle-left
                    a(href="#")
                        .go
                            .media-flex-center 
                                .avatar 
                                    img(src="./images/avatar2.jpg", alt="avatar")
                            .titles-learnging 
                                p.title ما لا يسع المسلم جهله
                                p.caption جاءت الشريعة بأحكام يجب على عموم المسلمين تعلُّمُها، والعمل بها، وهذه الأحكام سهلةٌ ميسرةٌ، إذ...
                            .flex-end 
                                .avatar-stock 
                                    img(src="./images/avatar1.jpg", alt="")
                                    img(src="./images/avatar2.jpg", alt="")
                                    img(src="./images/avatar1.jpg", alt="")
                                .arrow  
                                    i.fa.fa-arrow-circle-left
                    a(href="#")
                        .go
                            .media-flex-center 
                                .avatar 
                                    img(src="./images/avatar2.jpg", alt="avatar")
                            .titles-learnging 
                                p.title ما لا يسع المسلم جهله
                                p.caption جاءت الشريعة بأحكام يجب على عموم المسلمين تعلُّمُها، والعمل بها، وهذه الأحكام سهلةٌ ميسرةٌ، إذ...
                            .flex-end 
                                .avatar-stock 
                                    img(src="./images/avatar1.jpg", alt="")
                                    img(src="./images/avatar2.jpg", alt="")
                                    img(src="./images/avatar1.jpg", alt="")
                                .arrow  
                                    i.fa.fa-arrow-circle-left
            .row 
                .col-md-4
                    .card-section.mt-5 
                        .recent-rookies.text-center
                            .img-cookie
                                img(src="./images/recent-cookies/1.svg", alt="")
                            p.cookie-title مسارات التعلم
                            p.number-cookie 3مسارات للتعلم

                            .button-cookie
                                a(href="#") ابدأ التعلم
                .col-md-4
                    .card-section.mt-5 
                        .recent-rookies.text-center
                            .img-cookie
                                img(src="./images/recent-cookies/2.svg", alt="")
                            p.cookie-title المواضيع الرئيسية
                            p.number-cookie 5 موضوع رئيسي

                            .button-cookie
                                a(href="#") دخول
                .col-md-4
                    .card-section.mt-5 
                        .recent-rookies.text-center
                            .img-cookie
                                img(src="./images/recent-cookies/3.svg", alt="")
                            p.cookie-title الاختبارات  
                            p.number-cookie 66 اختبار

                            .button-cookie
                                a(href="#") اختبر  الان


        .col-md-4 
            .card-section 
                .chaleng-home.text-center
                    .image-ch 
                        a(href="#") 
                            img(src="./images/space.svg", draggable='false' ,alt="space")
                    h3.head-chalnge تحدى الوقت
                    p كم سؤال تستطيع الإجابة عليه في 60 ثانية فقط

                    button شارك فى التحدى الان
            //************ Start Box of Social
            .card-section.mt-4
                
                p.title-sm تابعنا في منصات التواصل
                .follow-social 
                    .face 
                        a(href="#") 
                            i.fa.fa-facebook 
                    .twitter
                        a(href="#") 
                            i.fa.fa-twitter
            .card-section.mt-4 
                .app-image 
                    img(src="./images/mobile.svg", draggable='false' alt="app")
                p.title-sm.text-center.mt-3 تطبيق منصة تاء للأجهزة الذكية
