.subject-section 
    .row 
        .col-md-4 
            .summery-subject 
                .content 
                    h2 العقيده
                    p اتفقت جميع رسالات الأنبياء لأقوامهم على عبادة الله وحده لا شريك له والكفر بما يعبد من دون الله وهذا هو حقيقة معنى لا إله إلا الله محمد رسول الله، وهي الكلمة التي يدخل بها المرء في دين الله.
                .progress-section 
                    .prog
                        .barOverflow
                            .bar
                        .curnc
                            span 10 
                            
                    p نسبة إتمام دروس العقيدة
        .col-md-8 
            .artical-feed 
                .heading
                    .title-wrapp 
                        h4 المواضيع الفرعية 
                a(href="./my-lesson.html") 
                    .artical-fead-item 
                        .featured-image 
                            img(src="./images/subject/1.jpg", alt="")
                        .featured-content 
                            h6 الشهادتان

                            p جعل الإسلام لكلمة التوحيد لا إله إلا الله أعظم المكانة وأجلها؛ فهي أول واجب على المسلم فمن أراد الدخول في الإسلام فعليه أن يعتقدها ويتلفظ بها. ومن قالها موقناً بها يبتغي بذلك وجه الله كانت سبباً في نجاته من النار كما قال النبي صلى الله عليه وسلم: "فإن الله حرم على النار من قال لا إله إلا الله يبتغي بذلك وجه الله" (البخاري 415).
                            .featured-avatar 
                                .avatar-stock
                                    img(src="./images/avatar1.jpg", alt="")
                                    img(src="./images/avatar2.jpg", alt="")
                                    img(src="./images/avatar1.jpg", alt="") 
                a(href="./my-lesson.html")
                    .artical-fead-item 
                        .featured-image 
                            img(src="./images/subject/1.jpg", alt="")
                        .featured-content 
                            h6 الشهادتان

                            p جعل الإسلام لكلمة التوحيد لا إله إلا الله أعظم المكانة وأجلها؛ فهي أول واجب على المسلم فمن أراد الدخول في الإسلام فعليه أن يعتقدها ويتلفظ بها. ومن قالها موقناً بها يبتغي بذلك وجه الله كانت سبباً في نجاته من النار كما قال النبي صلى الله عليه وسلم: "فإن الله حرم على النار من قال لا إله إلا الله يبتغي بذلك وجه الله" (البخاري 415).
                            .featured-avatar 
                                .avatar-stock
                                    img(src="./images/avatar1.jpg", alt="")
                                    img(src="./images/avatar2.jpg", alt="")
                                    img(src="./images/avatar1.jpg", alt="") 
                a(href="./my-lesson.html") 
                    .artical-fead-item 
                        .featured-image 
                            img(src="./images/subject/1.jpg", alt="")
                        .featured-content 
                            h6 الشهادتان

                            p جعل الإسلام لكلمة التوحيد لا إله إلا الله أعظم المكانة وأجلها؛ فهي أول واجب على المسلم فمن أراد الدخول في الإسلام فعليه أن يعتقدها ويتلفظ بها. ومن قالها موقناً بها يبتغي بذلك وجه الله كانت سبباً في نجاته من النار كما قال النبي صلى الله عليه وسلم: "فإن الله حرم على النار من قال لا إله إلا الله يبتغي بذلك وجه الله" (البخاري 415).
                            .featured-avatar 
                                .avatar-stock
                                    img(src="./images/avatar1.jpg", alt="")
                                    img(src="./images/avatar2.jpg", alt="")
                                    img(src="./images/avatar1.jpg", alt="") 
            
                    