.leaderboard-seaction 
    .heading
        .title-wrapp 
            h4 الطلاب الأكثر تفاعلاً في المنصة
    
    .button-filter.text-center 
        a.is-success(href="#")  آخر 7 أيام
        a(href="#")  آخر 30 يوم
        a(href="#")  الجميع

    .top-leader
        .row 
            .col-md-4
                .box-leader 
                    .seconde-leader-img 
                        img(src="./images/2.jpg", alt="leader")
                    .img-leader 
                        img(src="./images/user.png", class="person" alt="persn")
                        img(src="./images/ma.svg",class='flag' alt="flag")
                    .name-leader.text-left 
                        p.name سامح محمد عبدالرحمن ورشل
                        p.number-bulltes    2,128 النقاط
            .col-md-4
                .box-leader 
                    .seconde-leader-img 
                        img(src="./images/1.jpg", alt="leader")
                    .img-leader 
                        img(src="./images/user.png", class="person" alt="persn")
                        img(src="./images/ma.svg",class='flag' alt="flag")
                    .name-leader.text-left 
                        p.name سامح محمد عبدالرحمن ورشل
                        p.number-bulltes    2,128 النقاط
            .col-md-4
                .box-leader 
                    .seconde-leader-img 
                        img(src="./images/2.jpg", alt="leader")
                    .img-leader 
                        img(src="./images/user.png", class="person" alt="persn")
                        img(src="./images/ma.svg",class='flag' alt="flag")
                    .name-leader.text-left 
                        p.name سامح محمد عبدالرحمن ورشل
                        p.number-bulltes    2,128 النقاط
    .other-leader
        .info-leader 
            .img-leader 
                img(src="./images/user.png", class="person" alt="persn")
                img(src="./images/ma.svg",class='flag' alt="flag")
            .name-of-leader 
                p Mayar Mohamed
        .number-leadr 
            .numbers
                p.rang-leader 4
                p الترتيب
            .bulltes 
                p.bulltes-num 4
                p النقاط


                
            