.main-nav 
    .nav-content 
        .main-brand 
            a(href="./index.html")
                img(src="./images/logo-dark.svg", alt="logo" draggable='false') 
        .links-page 
            ul 
                li
                    a(href="./index.html") 
                        i.fa.fa-home.fa-lg.d-block.text-center 
                        | الرئيسيه 
                    span تعلم
                li 
                    a(href="./Lessons-page.html")  
                        i.fa.fa-book.fa-lg.d-block.text-center 
                        | الدروس 
                    span المواضيع الرئيسيه 
                li 
                    a(href="./exam-page.html") 
                        i.fa.fa-cube.fa-lg.d-block.text-center 
                        | الاختبارات 
                    span الاختبارات  
                li 
                    a(href="./groups.html") 
                        i.fa.fa-users.fa-lg.d-block.text-center 
                        | المجموعات 
                    span  المجموعات 
                li 
                    a(href="#") 
                        i.fa.fa-bell.fa-lg.d-block.text-center 
                        | تحدى الوقت 
                    span  تحدى الوقت 
                li 
                    a(href="#") 
                        i.fa.fa-thumbs-up.fa-lg.d-block.text-center 
                        |لوحة التمييز 
                    span  لوحه مميزه 
                li 
                    a(href="#") 
                        i.fa.fa-question-circle.fa-lg.d-block.text-center 
                        |   الدعم الفنى
                    span  اسأل الدعم
                li 
                    a(href="#") 
                        i.fa.fa-sign-in.fa-lg.d-block.text-center 
                        | الدخول 
                    span  دخول الموقع 
                li 
                    a(href="#") 
                        i.fa.fa-user.fa-lg.d-block.text-center 
                        | التسجيل 
                    span  تسجيل الدخول 

                