.sidebar-panal#side-bar 
    .sidebar-header
        p الدروس

    .category-sidebar 
        ul.menu 
            li.item-nav
                i.icon-nav#icon-nav.fa.fa-angle-left
                a.link-nav#toggle-link(href="#") العقيده
                .sub-menu
                    ul
                        li.link-sub-menu 
                            i.fa.fa-home
                            a.sub-link-nav(href="#")  الشهادتان
                        li.link-sub-menu
                            i.fa.fa-home
                            a.sub-link-nav(href="#")  الايمان
                        li.link-sub-menu 
                            i.fa.fa-home
                            a.sub-link-nav(href="#")  العبادة
                     
            li.item-nav
                i.icon-nav#icon-nav.fa.fa-angle-left
                a.link-nav#toggle-link(href="#") العبادات
                .sub-menu
                    ul
                        li.link-sub-menu 
                            i.fa.fa-home
                            a.sub-link-nav(href="#")  الطهاره
                        li.link-sub-menu 
                            i.fa.fa-home
                            a.sub-link-nav(href="#")  الصلاة
                        li.link-sub-menu 
                            i.fa.fa-home
                            a.sub-link-nav(href="#")  الزكاة
                        li.link-sub-menu 
                            i.fa.fa-home
                            a.sub-link-nav(href="#")  الصوم
                        li.link-sub-menu 
                            i.fa.fa-home
                            a.sub-link-nav(href="#")  الحج
                        li.link-sub-menu 
                            i.fa.fa-home
                            a.sub-link-nav(href="#")  الموت والجنازة
            li.item-nav
                i.icon-nav#icon-nav.fa.fa-angle-left
                a.link-nav#toggle-link(href="#") المعاملات
                .sub-menu
                    ul
                        li.link-sub-menu 
                            i.fa.fa-home
                            a.sub-link-nav(href="#")  المعاملات المالية
                        li.link-sub-menu 
                            i.fa.fa-home
                            a.sub-link-nav(href="#")  المرأة المسلمة
                        li.link-sub-menu 
                            i.fa.fa-home
                            a.sub-link-nav(href="#")  الاسرة المسلمة
            li.item-nav
                i.icon-nav#icon-nav.fa.fa-angle-left
                a.link-nav#toggle-link(href="#") المناسبات
                .sub-menu
                    ul
                        li.link-sub-menu 
                            i.fa.fa-home
                            a.sub-link-nav(href="#")  احكام فصل الشتاء
                        li.link-sub-menu 
                            i.fa.fa-home
                            a.sub-link-nav(href="#")  احكام الرحلات
                        li.link-sub-menu 
                            i.fa.fa-home
                            a.sub-link-nav(href="#")  الاسرة المسلمة
            li.item-nav
                i.icon-nav#icon-nav.fa.fa-angle-left
                a.link-nav#toggle-link(href="#") القرآن الكريم
                .sub-menu
                    ul
                        li.link-sub-menu 
                            i.fa.fa-home
                            a.sub-link-nav(href="#")  القرآن الكريم
            li.item-nav
                i.icon-nav#icon-nav.fa.fa-angle-left
                a.link-nav#toggle-link(href="#") السنة النبوية
                .sub-menu
                    ul
                        li.link-sub-menu 
                            i.fa.fa-home
                            a.sub-link-nav(href="#") معرفة النبى                      
                        li.link-sub-menu 
                            i.fa.fa-home
                            a.sub-link-nav(href="#") الحديث والسنة
           
                        
                        