.sidebar-panal#side-bar 
    .sidebar-header
        p الدروس

    .category-sidebar 
        ul.menu 
            li.item-nav
                i.icon-nav#icon-nav.fa.fa-angle-left
                a.link-nav#toggle-link(href="#") العقيده
                .sub-menu
                    ul
                        li.link-sub-menu 
                            i.fa.fa-home
                            a.sub-link-nav(href="#")  link menu
                        li.link-sub-menu
                            i.fa.fa-home
                            a.sub-link-nav(href="#")  link menu
                        li.link-sub-menu 
                            i.fa.fa-home
                            a.sub-link-nav(href="#")  link menu
                        li.link-sub-menu
                            i.fa.fa-home 
                            a.sub-link-nav(href="#")  link menu
            li.item-nav
                i.icon-nav#icon-nav.fa.fa-angle-left
                a.link-nav#toggle-link(href="#") العقيده
                .sub-menu
                    ul
                        li.link-sub-menu 
                            i.fa.fa-home
                            a.sub-link-nav(href="#")  link menu
            li.item-nav
                i.icon-nav#icon-nav.fa.fa-angle-left
                a.link-nav#toggle-link(href="#") العقيده
                .sub-menu
                    ul
                        li.link-sub-menu 
                            i.fa.fa-home
                            a.sub-link-nav(href="#")  link menu
                        