.main-topics 
    .heading
        .title-wrapp 
            h4 المواضيع الرئيسية
            p عن أبي هريرة رَضِيَ اللَّهُ عَنهُ أن رَسُول اللَّهِ ﷺ قال: (من سلك طريقاً يلتمس فيه علماً سهل اللَّه له طريقاً إلى الجنة) رَوَاهُ مُسلِمٌ.
    .card-section.mt-5
        .wrapper-topics
            .my-topic 
                .img-topic 
                    img(src="./images/assets-images/3.jpg", alt="topic")
                .p-3
                    .topic-content 
                        a(href="#") 
                            p.title العقيدة
                    .avatar-stock
                        img(src="./images/avatar1.jpg", alt="")
                        img(src="./images/avatar2.jpg", alt="")
                        img(src="./images/avatar1.jpg", alt="") 
            .my-topic 
                .img-topic 
                    img(src="./images/assets-images/4.jpg", alt="topic")
                .p-3
                    .topic-content 
                        a(href="#") 
                            p.title العبادات
                    .avatar-stock
                        img(src="./images/avatar1.jpg", alt="")
                        img(src="./images/avatar2.jpg", alt="")
                        img(src="./images/avatar1.jpg", alt="") 
            .my-topic 
                .img-topic 
                    img(src="./images/assets-images/5.jpg", alt="topic")
                .p-3
                    .topic-content 
                        a(href="#") 
                            p.title المناسبات
                    .avatar-stock
                        img(src="./images/avatar1.jpg", alt="")
                        img(src="./images/avatar2.jpg", alt="")
                        img(src="./images/avatar1.jpg", alt="") 
        .other-topics 
            .row 
                .col-md-6 
                    .my-topic 
                        .img-topic 
                            img(src="./images/assets-images/5.jpg", alt="topic")
                        .p-3
                            .topic-content 
                                a(href="#") 
                                    p.title المناسبات
                            .avatar-stock
                                img(src="./images/avatar1.jpg", alt="")
                                img(src="./images/avatar2.jpg", alt="")
                                img(src="./images/avatar1.jpg", alt="") 
                .col-md-6 
                    .my-topic 
                        .img-topic 
                            img(src="./images/assets-images/5.jpg", alt="topic")
                        .p-3
                            .topic-content 
                                a(href="#") 
                                    p.title المناسبات
                            .avatar-stock
                                img(src="./images/avatar1.jpg", alt="")
                                img(src="./images/avatar2.jpg", alt="")
                                img(src="./images/avatar1.jpg", alt="")
        
        //******** Exploar lessons on website

        .explorer 
            .heading
                .title-wrapp 
                    h4 استكشاف دروس منصة تاء
            .row 
                .col-md-3
                    .long-card 
                        .overlay
                        .long-img 
                            img(src="./images/explorer/1.jpg", alt="explo")
                        a(href='#').long-card-text
                            .icon-top 
                                i.fa.fa-book 
                            .text-bottom
                                p تعامل المسلم مع الوباء
                .col-md-3
                    .long-card 
                        .overlay
                        .long-img 
                            img(src="./images/explorer/2.jpg", alt="explo")
                        a(href='#').long-card-text
                            .icon-top 
                                i.fa.fa-book 
                            .text-bottom
                                p تعامل المسلم مع الوباء
                .col-md-3
                    .long-card 
                        .overlay
                        .long-img 
                            img(src="./images/explorer/3.jpg", alt="explo")
                        a(href='#').long-card-text
                            .icon-top 
                                i.fa.fa-book 
                            .text-bottom
                                p تعامل المسلم مع الوباء
                .col-md-3
                    .long-card 
                        .overlay
                        .long-img 
                            img(src="./images/explorer/4.jpg", alt="explo")
                        a(href='#').long-card-text
                            .icon-top 
                                i.fa.fa-book 
                            .text-bottom
                                p تعامل المسلم مع الوباء
                .col-md-3
                    .long-card 
                        .overlay
                        .long-img 
                            img(src="./images/explorer/5.jpg", alt="explo")
                        a(href='#').long-card-text
                            .icon-top 
                                i.fa.fa-book 
                            .text-bottom
                                p تعامل المسلم مع الوباء
                .col-md-3
                    .long-card 
                        .overlay
                        .long-img 
                            img(src="./images/explorer/6.jpeg", alt="explo")
                        a(href='#').long-card-text
                            .icon-top 
                                i.fa.fa-book 
                            .text-bottom
                                p تعامل المسلم مع الوباء
                .col-md-3
                    .long-card 
                        .overlay
                        .long-img 
                            img(src="./images/explorer/7.jpg", alt="explo")
                        a(href='#').long-card-text
                            .icon-top 
                                i.fa.fa-book 
                            .text-bottom
                                p تعامل المسلم مع الوباء
                .col-md-3
                    .long-card 
                        .overlay
                        .long-img 
                            img(src="./images/explorer/8.jpg", alt="explo")
                        a(href='#').long-card-text
                            .icon-top 
                                i.fa.fa-book 
                            .text-bottom
                                p تعامل المسلم مع الوباء

