.button-filter {
    margin-top: 30px;
    a {
        padding: 8px 22px;
        height: 38px;
        line-height: 1.1;
        font-size: .95rem;
        text-align: center;
        border: 1px solid transparent;
        border-radius: 4px;
        background-color: #ebfef9;
        color: #04906c;
        margin-right: 10px;
    }

    .is-success {
        background-color: #06d6a0;
        border-color: transparent;
        color: #fff;
    }
}

.top-leader {
    // display: flex;
    // align-items: stretch;
    // width: 33.3%;
    // justify-content: center;
    margin-top: 40px;
    .box-leader {
        border: 1px solid #04906c;
        border-radius: 10px;
        padding: 30px;
        text-align: center;
        .seconde-leader-img{
            max-width: 150px;
            height: 150px;
            margin-bottom: 20px;
            text-align: center;
            display: inline-block;
            img{
                border-radius: 50%;
                width: 100%;
                height: 100%;
            }
        }
        .img-leader {
            position: relative;
            margin-bottom: 30px;
            // display: inline-block;
            .person{
                width: 68px;
                height: 68px;
                border-radius: 14px;
            }
            .flag{
                position: absolute;
                width: 20px;
                height: 20px;
                top: 50%;
                left: 100px;
                margin-top: -10px;
            }
        }

        .name-leader{
          color: #aaaab3 !important
        }
        .number-bulltes{
            color: #dcdcdc;
        }
    }
}

.other-leader{
    border: 1px solid #404046;
    padding: 20px;
    margin-top: 30px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .info-leader {
        display: flex;
        align-items: center;
        .img-leader{
            // display: inline-block;
            margin-left: 20px;
            position: relative;
            .person{
                width: 68px;
                height: 68px;
                border-radius: 50%;
            }
            .flag{
                position: absolute;
                width: 20px;
                height: 20px;
                top: 25px;
                left: -10px;
            }
        }
    }
    .number-leadr {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        
        .numbers{
            margin-left: 20px;
            position: relative;
            .rang-leader{
                color: #aaaab3;
            }
            &::after{
                content: '';
                position: absolute;
                top: 50%;
                left: -10px;
                width: 2px;
                height: 40px;
                margin-top: -20px;
                background-color: #404046;
            }
        }
    }
}