.exam 
    .exam-title 
        h2 اختبارات متنوعه
        p اختبر معلوماتك الشرعية وطورها من خلال هذه الاختبارات القصيرة المتنوعة

    .row
        .col-md-4 
            .filter-exams 
                .widged-content
                    ul 
                        li 
                            a(href="#").selected-tag 
                                span.total
                                    strong الجميع
                                p.tag.is-rounded 66
                        li 
                            a(href="#").selected-tag 
                                span
                                    | القرآن الكريم
                                p.tag.is-rounded 4
                        li 
                            a(href="#").selected-tag 
                                span
                                    | أمهات المؤمنين
                                p.tag.is-rounded 6
                        li 
                            a(href="#").selected-tag 
                                span
                                    | الصحابة
                                p.tag.is-rounded 95
                        li 
                            a(href="#").selected-tag 
                                span
                                    | التاريخ الإسلامي
                                p.tag.is-rounded 23
                        li 
                            a(href="#").selected-tag 
                                span
                                    | الأنبياء
                                p.tag.is-rounded 15
                        li 
                            a(href="#").selected-tag 
                                span
                                    | التجويد
                                p.tag.is-rounded 7

        .col-md-8 
            .main-exams 
                .head
                    p الاختبارات
                .inner-list
                    .inner-list-item 
                        .animated-checkbox 
                            input(type="checkbox"  id='one')
                            label(for="one") 
                    .title-question 
                        p تثبيت نهايات آيات الحزب الثانى

                        span 26 سؤال
                .inner-list
                    .inner-list-item 
                        .animated-checkbox 
                            input(type="checkbox"  id='two')
                            label(for="two") 
                    .title-question 
                        p تثبيت نهايات آيات الحزب الثانى

                        span 26 سؤال
                .inner-list
                    .inner-list-item 
                        .animated-checkbox 
                            input(type="checkbox"  id='three')
                            label(for="three") 
                    .title-question 
                        p تثبيت نهايات آيات الحزب الثانى

                        span 26 سؤال
                .inner-list
                    .inner-list-item 
                        .animated-checkbox 
                            input(type="checkbox"  id='four')
                            label(for="four") 
                    .title-question 
                        p تثبيت نهايات آيات الحزب الثانى

                        span 26 سؤال
                hr

                .links-arrow
                    a(href="#")
                        i.fa.fa-arrow-right
                    a(href="#")
                        i.fa.fa-arrow-left

                        
.lif-style 
    hr 
    .exam-title 
        h2 اختبارات تحديد المستوى
        p اختبارات في موضوعات المنصة، ستتمكن من خلالها من معرفة مستواك في الموضوع والدروس التي تحتاج قراءتها

    .exams-topic 
        .row 
            .col-md-3 
                a(href="#") 
                    .topic-card
                        .overlay
                        .img-topic 
                            img(src="./images/life-style/1.jpeg", alt="")
                        .card-head 
                            .head 
                                a(href="#") الطهاره