.support-section 
    .call-support 
        .img-call
            img(src="./images/call.png", alt="call")
        .title-support 
            .card-head
                .head 
                    a(href="#") الدعم الفنى
            .add-btn 
                button 
                    i.fa.fa-plus
                    | اضافة تذكره
    
    .search-support 
        .insert-form 
            form(action="#", id="search-input")
                input(type="search" id="search-input" placeholder='البحث في الأسئلة الأكثر تكراراََ...') 
                i.fa.fa-search.icon-search
    .result-search#show-result 
        .result-header 
            h4 نتائج البحث
    
    .commont-question
        .row 
            .col-md-4 
                .question-box 
                    .header-box 
                        p.header تعرف على منصة تاء
                    .question-list 
                        a(href="#") 
                            | ما هي منصة تاء؟
                        a(href="#") 
                            | ما هي منصة تاء؟
                        a(href="#") 
                            | لماذا أدرس على منصة تاء؟
                        a(href="#") 
                            | كيف تم إعداد المحتوى في منصة تاء؟
                        a(href="#") 
                            | هل التسجيل مجاني على المنصة؟
                        a(href="#") 
                            | كيف أبدأ الدراسة على المنصة؟ 
                    
            .col-md-4 
                .question-box 
                    .header-box 
                        p.header تعرف على منصة تاء
                    .question-list 
                        a(href="#") 
                            | ما هي منصة تاء؟
                        a(href="#") 
                            | ما هي منصة تاء؟
                        a(href="#") 
                            | لماذا أدرس على منصة تاء؟
                        a(href="#") 
                            | كيف تم إعداد المحتوى في منصة تاء؟
                        a(href="#") 
                            | هل التسجيل مجاني على المنصة؟
                        a(href="#") 
                            | كيف أبدأ الدراسة على المنصة؟ 
            .col-md-4 
                .question-box 
                    .header-box 
                        p.header تعرف على منصة تاء
                    .question-list 
                        a(href="#") 
                            | ما هي منصة تاء؟
                        a(href="#") 
                            | ما هي منصة تاء؟
                        a(href="#") 
                            | لماذا أدرس على منصة تاء؟
                        a(href="#") 
                            | كيف تم إعداد المحتوى في منصة تاء؟
                        a(href="#") 
                            | هل التسجيل مجاني على المنصة؟
                        a(href="#") 
                            | كيف أبدأ الدراسة على المنصة؟ 
                

