.my-lesson 
    .heading
        .title-wrapp 
            h4 الشهادتان 
    .row 
        .col-md-3 
            .testing-link
                .img-test 
                    img(src="./images/subject/1.jpg", alt="")
                .link 
                    a(href="./placement-test.html") اختبار تحديد المستوى 
        .col-md-9
            .some-info 
                .text 
                    p جعل الإسلام لكلمة التوحيد لا إله إلا الله أعظم المكانة وأجلها؛ فهي أول واجب على المسلم فمن أراد الدخول في الإسلام فعليه أن يعتقدها ويتلفظ بها. ومن قالها موقناً بها يبتغي بذلك وجه الله كانت سبباً في نجاته من النار كما قال النبي صلى الله عليه وسلم: "فإن الله حرم على النار من قال لا إله إلا الله يبتغي بذلك وجه الله" (البخاري 415). 
                    hr
                .link-regster 
                    a(href="#") التسجيل فى الموضوع
    

    .lesson-topic 
        .heading
            .title-wrapp 
                h4 الدروس 
        .row 
            .col-md-6 
                .card-item 
                    .head-item
                        .img-item
                            img(src="./images/avatar2.jpg", alt="")
                        .title-item 
                            p    شهادة أن لا إله إلا الله 
                    hr
                    .footer-item 
                        div 
                        .right 
                            .button 
                                a(href="#") ابدأ التعلم
                                a(href="#") الاختبار
            .col-md-6 
                .card-item 
                    .head-item
                        .img-item
                            img(src="./images/avatar2.jpg", alt="")
                        .title-item 
                            p    شهادة أن لا إله إلا الله 
                    hr
                    .footer-item 
                        div 
                        .right 
                            .button 
                                a(href="#") ابدأ التعلم
                                a(href="#") الاختبار
            .col-md-6 
                .card-item 
                    .head-item
                        .img-item
                            img(src="./images/avatar2.jpg", alt="")
                        .title-item 
                            p    شهادة أن لا إله إلا الله 
                    hr
                    .footer-item 
                        div 
                        .right 
                            .button 
                                a(href="#") ابدأ التعلم
                                a(href="#") الاختبار
                    
