.action-box 
    .heading
        .title-wrapp 
            h4 اختبار : الشهادتان 

    .img-test 
        img(src="./images/avatar2.jpg", alt="")

    .info-test 
        
        .item 
            .item-inner.text-center 
                i.fa.fa-rocket
                p.number 14
                .title الاسئلة
        .item 
            .item-inner.text-center 
                i.fa.fa-object-ungroup
                p.number 10
                .title الدروس
        .item 
            .item-inner.text-center 
                i.fa.fa-user
                p.number 30.564
                .title الطلاب
    .text-exam 
        p من خلال اختبار تحديد المستوى ستتمكن من معرفة مستواك في جميع دروس (الشهادتان) في منصة تاء، يحتوي هذا الاختبار على ( 14 ) سؤال تم اختيارها من جميع دروس (الشهادتان) في المنصة، لا يوجد نجاح أو رسوب في هذا الاختبار، لكن ستتجاوز جميع دروس (الشهادتان) في المنصة التي استطعت الإجابة على جميع أسئلتها بشكل صحيح. في نهاية الاختبار ستحصل على تقرير بالدروس التي نجحت باجتيازها من خلال هذا الاختبار. 
        hr
        button 
            i.fa.fa-book 
            | بداية الاختبار