.chang-tiem-section 
    .heading
        .title-wrapp 
            h4 تحدي الوقت
    .img-page 
        img(src="./images/time.jpg", alt="")
    .info 
        p لديك 60 ثانية، حاول الإجابة على أكبر قدر ممكن من الأسئلة بشكل صحيح ستحصل على 10 نقاط مقابل كل إجابة صحيحة وستخسر 5 نقاط مقابل كل إجابة خاطئة

    .insert-form 
        p الرجاء إدخال اسمك لعرضه بجانب ترتيبك في قائمة اللاعبين 
        form(action="#")
            input(type="text" placeholder='الاسم') 
            i.fa.fa-user.icon-search
            .submit-btn 
                button(type='submit')
                    i.fa.fa-book
                    | بداية الاختبار